<!DOCTYPE html>

<html lang="en" dir="ltr">
    <%- include('header'); -%>
  <body>
    <%- include('navbar'); -%>
    <div class="main">
      <h1><%= session.username %></h1>
      <%- include('data-display'); %>
    </div>
  </body>
</html>
